* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearFix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 384px);
}

@media screen and (min-width:1366px) {
    .container {
        width: 1366px;
    }
}

section {
    padding-left: 98px;
    padding-right: 98px;
    box-sizing: border-box;
}

@media screen and (min-width:850px) and (max-width: 1000px) {
    .header a:first-child {
        width: 24Px;
        overflow: hidden;
    }

    section {
        padding: 0 49px;
    }

}

.fixed {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 1366px;
    margin-left: -98px;
    padding: 15px 98px 3px 98px;
    box-sizing: border-box;

}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slider {
    background-image: url(img/slider_img_201.jpg);
    height: 800px;
    padding-top: 63px;
    position: relative;
}

.menu {

    margin-right: 56px;
    position: relative;

}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    padding: 0 13px 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    font-weight: 700;
    color: #212121 !important;
    border-bottom: 3px solid #212121 !important;
}

#searchField input {
    padding: 4px;
    width: 400px;
    border: 10px solid #c6e0e4;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

#searchField {
    position: absolute;
    right: 20px;
    top: -10px;
    display: none;
    width: 500px;
}

#searchField span {
    float: right;
    cursor: pointer;
    font-size: 3em;
    line-height: 1em;
}

#searchField span:hover {
    color: #e53935;
}

.slider-text {
    margin-top: 282px;
}

.slider-trending {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #43a047;
}

.slider-h2 {
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: -2.2px;
}

.slider-content {
    font-size: 14px;
    font-weight: 300;
    color: #6c6c6c;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 24px;
}

.button {
    display: inline-block;
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    color: #212121;
    text-decoration: none;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 22.5px;
}

.button:hover {
    background-color: #f5f5f5;
}

.button:active {
    background-color: #f5f5f5;
    box-shadow: none;
    border: 1px inset #ffffff;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    background-color: #212121;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
}

.featured {
    height: 489px;
    background-color: #ffffff;
}

.featuredNaw {
    margin-top: 120px;
}

.featurLink {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
    padding-left: 9px;
    padding-right: 21px;
    padding-bottom: 15px;
    box-sizing: border-box;
    height: 59px;
}

.explore {
    font-size: 18px !important;
    letter-spacing: 3.6px;
    font-weight: 700;
    border-bottom: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    float: right;
    line-height: 60px;
}

.featuredUnits {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.featuredUnits a {
    display: block;
    height: 270px;
    width: 270px;
    text-decoration: none;
}

.unitHover {
    display: none;
}

.featuredUnits a:hover .unitHover {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    height: 270px;
    width: 270px;
    text-align: center;
    border: 1px solid #a1a1a1;
}

.linkButton {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #212121;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 22.5px;
    margin-top: 62px;
}

.unitHoverH {
    font-size: 22px;
    font-weight: 700;
    color: #212121;
    margin-top: 19px;
    margin-bottom: 23px;
}

.unitHoverDesc {
    font-size: 14px;
}

.exclusive {
    height: 683px;
    display: flex;
    padding: 0;
}

.exclBlock {
    width: 683px;
    padding-left: 51px;
    padding-top: 228px;
}

.exclH2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: #1e88e5;

    text-transform: uppercase;
}

.exclH1 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;

}

.unitHoverDesc {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #6c6c6c;
    margin-bottom: 24px;
    margin-top: 10px;
}

.trending {
    min-height: 1108px;
    background-color: #ffffff;
    padding-top: 115px;
}

.trendH1 {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.trendContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
}

.trendItem {
    width: 370px;
    height: 370px;
    margin-bottom: 30px;
}

.trendItem:hover {
    outline: 1px solid black;
}

.hotDeal {
    height: 800px;
    background-image: url(img/slider.jpg);
    position: relative;
}

.hotDealH2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: left;
    color: #e53935;
    padding-top: 285px;
}

.exclusive2 {
    min-height: 810px;
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.exclBlockSmall {
    width: 570px;
    height: 570px;
    box-sizing: border-box;
    padding-top: 180px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.exclBlok4 {
    display: flex;
    justify-content: space-between;
    width: 570px;
    height: 570px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.exclItem {
    margin-bottom:30px;
    width: 270px;
    height: 270px;
}

.exclItem:hover {
    outline: 1px solid black;
}

.mobile {
    height: 516px;
    background-image: url(img/back-img.jpg);
}

.mobile {
    padding-top: 125px;
}

.mobH2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: #6c6c6c;
}

.mobH1 {
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -2.2px;
}

.mobText {
    font-size: 22px;
    font-weight: 300;
    color: #6c6c6c;
}

.storeButton {
    margin-top: 30px;
}

.storeButton a {
    display: inline-block;
    width: 135px;
    height: 40px;
    margin-right: 10px;
}

footer {
    width: 100%;
    margin: 0 auto;
    min-height: 384px;
    padding: 120px 98px 0 98px;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.lastRow {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1366px) {
    footer {
        width: 1366px;
    }
    .exclBlockSmall {margin-right: 30px;}

    .lastRow {
        display: contents;
    }
}

@media screen and (min-width:900px) and (max-width:1365px) {
    .contacts {
        order: 1;
    }

    .touch {
        order: 2;
    }

    .usefulLinks {
        order: 3;
    }

    .lastRow {
        order: 4;
    }
}

.contacts {
    width: 300px;
    margin-bottom: 50px;
}

.footerHeader {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: #6c6c6c;
    margin-bottom: 20px;
}

.footerText {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
}

.linksColomns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1;
    height: 100px;
    width: 500px;
}

.linksColomns a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    color: #212121;
    margin-bottom: 10px;
}

.touch {
    width: 370px;
}

.touch input {
    width: 370px;
    height: 48px;
    box-sizing: border-box;
    line-height: 48px;
    padding-left: 19px;
    margin-top: 20px;
    float: left;
    flex-shrink: 1;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #d9dee1;
}

.touch form {
    display: flex;
    flex-direction: row;
}

.touch input::placeholder {
    color: #6c6c6c;
    font-family: 'Montserrat', sans-serif;

}

.touch .paperPlane {
    width: 48px;
    background: transparent url(img/emailPlain.svg) center center no-repeat;
    margin-left: -48px;
    border: none;
}

.socialLinks img {
    width: 28px;
    height: 28px;
    color: #6c6c6c;
}

.copy,
.copy a {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #6c6c6c;
    text-decoration: none;
    text-transform: uppercase;
}

.flexBreak {
    flex-basis: 100%;
    height: 0;
}

a:hover {
    color: #e53935;
}

/*Дальше стили для страницы Product detales*/
.headerSmall {
    height: 119px;
    background-color: #ffffff;
    padding-top: 63px;
}

.miniNav {
    height: 71px;
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f4f4;
}

.miniNav a {
    padding: 0 20px;
}

.miniNav a,
.miniProdNav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: #6c6c6c;
}

.miniNav .miniNavActive {
    color: #212121;
}

.miniNav a:hover,
.miniProdNav a:hover {
    color: #212121;
}

.product {
    min-height: 722px;
    background-color: #ffffff;
    padding-top: 71px;
    padding-right: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.productDesc {
    max-width: 510px;
    padding: 37px 56px 0 56px;
    text-align: center;

}

.prodName {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}

.prodSubHot {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: #e53935;
    text-transform: uppercase;
    line-height: 41px;
}

.price {
    font-size: 36px;
    font-weight: 300;
    color: #212121;
}

.price span {
    font-size: 71px;
}

.bigRedButton {
    margin-top: 25px;
    display: inline-block;
    font-size: 22px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    width: 510px;
    height: 71px;
    object-fit: contain;
    border-radius: 35px;
    box-shadow: 0px 2px 4.9px 0.2px #21212159;
    background-color: #f44336;
}

.bigRedButton:hover {
    background-color: #f5f5f5;
}

.bigRedButton:active {
    background-color: #f5f5f5;
    box-shadow: none;
    border: 1px inset #ffffff;
}

.prodFullDesc {
    margin-top: 50px;
}

.prodFullDesc p {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #212121;
    margin-bottom: 10px;
    line-height: 1.5;
}

.relatedProducts {
    min-height: 833px;
    padding-top: 225px;
}

/*ниже будут стили для страницы Products*/

.productsHeader {
    min-height: 360px;
    padding-top: 63px;
    background-color: #f4f4f4;
}

.prodH1 {
    font-size: 62px;
    font-weight: 100;
    color: #212121;
    margin-top: 153px;
}

.prodMain {
    min-height: 1893px;
}

.miniProdNav {
    margin-top: 71px;
    width: 647px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -19px;
}

.miniProdNav a {
    padding-bottom: 19px;
}

.miniProdNav .miniNavActive {
    color: #212121;
    border-bottom: 3px solid black;

}

a.refreshButton {
    display: inline-block;
    padding: 14px;
    height: 29px;
    border: 1px solid transparent;
}

.refreshBut {
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

a.refreshButton:hover {
    border: 1px solid black;
    border-radius: 25px;
}

a.refreshButton:active {
    background-color: grey;
}

/*Стили для контактов*/
.contactsCont {
    min-height: 563px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 71px;
}

.contactBox {
    width: 370px;
    height: 370px;
    border: 1px solid #9c9c9c;
    text-align: center;
    padding-top: 44px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.contH2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-top: 19px;
}

.contH3 {
    font-size: 14px;
    font-weight: 700;
    color: #6c6c6c;
    margin-top: 15px;
}

.contText1 {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #212121;
}

.contText2 {
    font-size: 14px;
    color: #212121;
}